body {
  font-family: 'Montserrat', sans-serif;
  background-color: #E6EBE0;
  color: #fafafa;
}

/* Pantalla de inicio */

.welcome-screen {
  background-image: url(../img/appetizer-dark-delicious-326279.jpg);
  background-color: #3D3A37;
  background-position-x: right;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  text-align: center;
  position: absolute;
  z-index: 1000;
}

#logoSmall {
  margin-top: 25vh;
  width: 70vw;
}

.welcome-screen p {
  margin: 2rem 0;
}

.loader-container {
  width: 70px;
  height: 70px;
  margin: auto;
  position: relative;
}

.loader1,
.loader2 {
  position: absolute;
  border: 5px solid transparent;
  border-radius: 50%;
}

.loader1 {
  width: 70px;
  height: 70px;
  border-top: 5px solid azure;
  border-bottom: 5px solid azure;
  animation: clockwisespin 2s linear 3;
}

.loader2 {
  width: 60px;
  height: 60px;
  border-top: 5px solid #ffbd4a;
  border-bottom: 5px solid #ffbd4a;
  top: 5px;
  left: 5px;
  animation: anticlockwisespin 2s linear 3;
}

@keyframes clockwisespin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes anticlockwisespin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Sección Principal */

.main-page {
  min-height: 100vh;
  text-align: center;
  padding-top: 10vh;
}

.top {
  height: 10vh;
  background-color: #000000;
  position: fixed;
  width: 100vw;
  top: 0;
}

.top h3 {
  margin: auto;
  padding-top: 6px;
}

.top img {
  height: 10vh;
}

#map {
  width: 100vw;
  height: 35vh;
  margin: auto;
  color: black;
}

.searchBox {
  padding: 10px;
  background-color: #7aa802;
}

.searchBox h5 {
  color: #ffbd4a;
}

.searchBox button {
  padding: 3px 6px;
  border-radius: 50%;
}

.searchBox button:hover {
  background-color: #ffbd4a;
}

.restaurant-btn {
  background: none;
  border: none;
  color: #554854;
}

.restaurant-btn:hover {
  color: #ffbd4a;
}

.restaurantContainer i {
  margin-right: 10px;
}

.modal {
  color: black;
}

.fa-star {
  color: #FDE74C;
}

@media (min-width: 768px) {
  #map {
    width: 60vw;
    height: 90vh;
    position: fixed!important;
    right: 0;
    top: 10vh;
  }
  .searchBox {
    width: 40vw;
    position: fixed;
  }
  #logoSmall {
    margin-top: 25vh;
    width: 30vw;
  }
  #results {
    width: 40vw;
    height: max-content;
    padding-top: 12vh;
  }
}